<!DOCTYPE html>
<html>
  <head>
    <title>Post Sentiment</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" placeholder="subreddit name" name="subreddit" cols="30" rows="10"/>
      <input class="button" type="submit" value="Analyze" />
    </form>
  </body>
</html>
